<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Invalid page</title>
</head>

<body>
  <h1>Hey bro this is invalid page</h1>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit, id neque ipsa, deserunt repellendus,
    exercitationem dolorem facere asperiores minus placeat maxime atque iusto repellat. Magni labore, natus culpa quasi
    laborum impedit corrupti et, perferendis ut facilis ducimus suscipit ab ex numquam saepe rem ipsa ratione
    repudiandae possimus eum, dolorum distinctio.</p>
</body>

</html>