<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>post form</title>
</head>

<body>
  <h1>Hey this is post form</h1>
  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quibusdam ipsum nam quis iusto dolores rem sint facilis
    atque voluptate eius dolorum officiis officia illo obcaecati consequuntur quae, sunt tempora et aut laboriosam
    corporis excepturi suscipit dicta sit. Sint ullam minus, praesentium officia velit, dolorem cupiditate suscipit
    aspernatur quaerat autem culpa.</p>
</body>

</html>